* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F8F8;

}

.brands-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 320px;
    height: 192px;

}

 .page__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: 56px;
    background: linear-gradient(to right, #F8F8F8 30%, #FFFFFF 70%);
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #7E7E82;
}



.brands-div-clicked {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    min-width: 240px;
    max-width: 240px;
    min-height: 72px;
    max-height: 72px;
    border-radius: 6px;
    border: 1px solid #EAEAEA;

}

.pink-buttons{
    border: none;
    background: none;
}

.brands-divs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 320px;
    height: 192px;
    padding-top: 20px;
    padding-left: 40px;
    gap: 20px;
    /* margin-left: 40px; */

}

.swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 204px;
    height: 12px;
    
}

.brands {

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 320px;
    height: 192px;
    padding-top: 20px;
    /* padding-left: 40px; */
    gap: 20px;

}



